<%- include('includes/header') %>

<div class="container py-md-5 container--narrow">

  <%- include('includes/flash') %>
  <%- include('includes/profileShared') %>

  <div class="list-group">
    <% posts.forEach(function(post) { %>
      <a href="/post/<%= post._id %>" class="list-group-item list-group-item-action">
        <img class="avatar-tiny" title="<%= post.author.username %>" src="https://banner2.cleanpng.com/20180725/fic/kisspng-computer-icons-user-profile-social-web-5b5877b5ef7d48.492420571532524469981.jpg">
        <strong><%= post.title %></strong> on <%= post.createdDate.getMonth() + 1 %>/<%= post.createdDate.getDate() %>/<%= post.createdDate.getFullYear() %>
      </a>
    <% }) %>
  </div>
</div>

<%- include('includes/footer') %>